[Desktop Entry]
Name=Tachidesk Sorayomi
Comment=Tachidesk UI flutter
Exec=tachidesk-sorayomi
Icon=io.github.suwayomi.Sorayomi
Terminal=false
Type=Application
Categories=Network;
